<a href="https://colab.research.google.com/github/Sachinsn19/Heart-Disease-Prediction/blob/main/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

## Data collection

### About dataset: [heart data](https://www.kaggle.com/ronitf/heart-disease-uci)

Attribute Information:
1. age
2. sex
3. chest pain type (4 values)
4. resting blood pressure
5. serum cholestoral in mg/dl
6. fasting blood sugar > 120 mg/dl
7. resting electrocardiographic results (values 0,1,2)
8. maximum heart rate achieved
9. exercise induced angina
10. oldpeak = ST depression induced by exercise relative to rest
11. the slope of the peak exercise ST segment
12. number of major vessels (0-3) colored by flourosopy
13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

In [10]:
#Loading dataset into Pandas Dataframe
heart_data = pd.read_csv('/content/heart.csv')

In [11]:
#Printing top five rows of the data
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [12]:
#Number of rows and columns
heart_data.shape

(303, 14)

In [13]:
#Getting some information about data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [14]:
#Checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [15]:
#Statistical measures of the data
heart_data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [16]:
#Checking the distribution of target values
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 --> Defective heart

0 --> Healthy heart

## Splitting Features and Target

In [17]:
X = heart_data.drop('target', axis=1)
y = heart_data['target']

In [18]:
print(X)
print(y)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

## Train Test Split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=y, test_size=0.2, random_state=2)

In [21]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

## Model Training

Logistics Regression

In [23]:
model = LogisticRegression()

In [24]:
#Training the Logistic Regression model with training data
model.fit(X_train, y_train)

LogisticRegression()

## Model Evaluation

In [25]:
#Prediction on training data
train_data_prediction = model.predict(X_train)

#Accuracy score on training data
train_data_accuracy = accuracy_score(y_train, train_data_prediction)

In [26]:
print("Accuracy score on Training data : ",train_data_accuracy)

Accuracy score on Training data :  0.8512396694214877

In [27]:
#Prediction on test data
test_data_prediction = model.predict(X_test)

#Accuracy score on test data
test_data_accuracy = accuracy_score(y_test, test_data_prediction)

In [28]:
print("Accuracy score on Test data : ",test_data_accuracy)

Accuracy score on Test data :  0.819672131147541

## Building Predictive System

In [31]:
input_data = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)

#changing the input data into numpy array
input_data_as_array = np.asarray(input_data)

#Reshape the numpy array as we are predicting for only one instance
reshaped_data = input_data_as_array.reshape(1,-1)

prediction = model.predict(reshaped_data)
print(prediction)

if (prediction[0]==0):
  print("The person doesn't have heart disease")
else:
  print("The person have heart disease")

[1]
The person have heart disease

## ..........................THANK YOU.............................